@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Collection Service</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" id="logo" asp-controller="Home" asp-action="Index">Collectio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex" id="nav-menu">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Collections" asp-action="Collections">@Localizer["Collections"]</a>
                        </li>
                        <li class="nav-item">
                            <input class="form-control" placeholder="@Localizer["Search"]" name="searchString" />
                        </li>
                        <li class="nav-item">
                            <input type="submit" class="btn btn-success ml-1 mr-1" value="@Localizer["Search"]" />
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {


            <li class="nav-item">
                <a asp-controller="Account" asp-action="Profile" asp-route-name="@User.Identity.Name">
                    <input type="button" class="btn btn-navbar" value="@User.Identity.Name" />
                </a>
            </li>

                            <li class="nav-item">
                                <form class="form-inline" asp-controller="Account" asp-action="Logout">
                                    <button type="submit" class="nav-link btn btn-link  ">@Localizer["Logout"]</button>
                                </form>
                            </li>
                                            @if (User.IsInRole("admin"))
                                            {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="AdminControl">@Localizer["Admin"]</a>
                            </li>
}
                                        }

                                        else
                                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
                            </li>
                                            <li class="nav-item">
                                                <a asp-controller="Account" asp-action="Register">
                                                    <input type="button" class="btn btn-navbar" value="@Localizer["SignUp"]" />
                                                </a>
                                            </li>}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container body-content">
            <div>
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
