@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{ ViewData["Title"] = "Home Page"; }
<div class="row">
    <div class="container col-md-6">
        <h3 class="text-justify p-3">@Localizer["NewItems"]</h3>

        <table class="table-striped">
            <tr>
                <td class="text-md-center p-3 ">@Localizer["TimeAdd"]</td>
                <td class="text-md-center p-3">@Localizer["Name"]</td>
                <td class="text-md-center p-3">@Localizer["Description"]</td>
            </tr>
            @if (Model != null)
@foreach (var item in Model.items)
{
<tr>
            <td class="text-md-center">@item.AddTime</td>
    <td class="text-md-center p-3"><a asp-controller="Item" asp-action="Index" asp-route-ItemId="@item.Id">@item.Name</a></td>
    <td class="text-md-center p-3">@item.Description</td>
</tr>}
        </table>
    </div>
    <div class="container col-md-6">
        <h3 class="text-justify p-3">@Localizer["MostNumerous"]</h3>
        <table class="table-striped">
            <tr>
                <td class="text-md-center p-3">@Localizer["Name"]</td>
                <td class="text-md-center p-3">@Localizer["Theme"]</td>
                <td class="text-md-center p-3">@Localizer["CountItems"]</td>
                <td class="text-md-center p-3">@Localizer["Owner"]</td>
                <td class="text-md-center p-3">@Localizer["Description"]</td>
            </tr>
            @if (Model != null)
    @foreach (var collection in Model.collections)
    {
        <tr>
            <td class="text-md-center p-3"><a asp-controller="Collections" asp-action="Index" asp-route-collectionId="@collection.Id">@collection.Name</a></td>
            <td class="text-md-center p-3">@Localizer[collection.Theme]</td>
            <td class="text-md-center p-3">@collection.CountItems</td>
            <td class="text-md-center p-3"><a asp-controller="Collections" asp-action="UserCollections" asp-route-name="@collection.User">@collection.User</a></td>
            <td class="text-md-center p-3"><markdown>@collection.Description</markdown></td>
        </tr>
}
        </table>
    </div>
</div>

