@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<h2>@Localizer["User"] @ViewBag.Collection.User</h2>
<h4>@Localizer["NameCollection"]: @ViewBag.Collection.Name </h4>
<form id='items' method="post">
    @if (User.Identity.IsAuthenticated)    
        if (User.IsInRole("admin") || User.Identity.Name.Equals(ViewBag.Collection.User))
        {
        <a class="btn btn-body" asp-controller="Item" asp-action="Create" asp-route-collectionId="@ViewBag.Collection.Id">@Localizer["BtnCreateItem"]</a>
        <a class="btn btn-body" asp-controller="Collections" asp-action="Edit" asp-route-collectionId="@ViewBag.Collection.Id">@Localizer["BtnEdit"]</a>
        <button type="submit" class="btn btn-body" asp-controller="Item" asp-action="Delete">@Localizer["BtnDeleteItem"]</button>
        }    
    <table class="table table-striped table-hover">
        <tr>
            <th>@Localizer["Image"]</th>
            <th><a asp-controller="Collections" asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort" asp-route-collectionId="@ViewBag.Collection.Id">@Localizer["Name"]</a></th>
            <th>@Localizer["Description"]</th>
            @if (User.Identity.IsAuthenticated)            
        @if (User.IsInRole("admin") || User.Identity.Name.Equals(ViewBag.Collection.User))
        {
        <th><input type="checkbox" name="cb_all"></th>
        }
            
        </tr>
        @if (Model != null)
            @foreach (var item in Model)
            {
    <tr>
        <td><img style='width:80px; height:80px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Image))" />
        <td><a asp-controller="Item" asp-action="Index" asp-route-ItemId="@item.Id">@item.Name</a></td>
        <td>@item.Description</td>
        @if (User.Identity.IsAuthenticated)
    @if (User.IsInRole("admin") || User.Identity.Name.Equals(ViewBag.Collection.User))
    {
    <td><input type="checkbox" class="qwe" name="selectedItems" value="@item.Id" /></td>}
    </tr>
            }
    </table>
</form>

<script>
    var f = document.getElementById('items');
    f.cb_all.onchange = function (e) {
        var el = e.target || e.srcElement;
        var qwe = el.form.getElementsByClassName('qwe');
        for (var i = 0; i < qwe.length; i++) {
            if (el.checked) {
                qwe[i].checked = true;
            } else {
                qwe[i].checked = false;
            }
        }
    }
</script>