@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "List of Users";
}

<h2>@Localizer["ListOfUsers"]</h2>
<form id='users' method="post">

    <button type="submit" class="btn btn-primary m-1" asp-controller="Account" asp-action="Delete">@Localizer["BtnDelete"]</button>
    <button type="submit" class="btn btn-primary m-1" asp-controller="Account" asp-action="ChangePermission">@Localizer["BtnChangePermission"]</button>

    <table class="table table-striped table-hover">
        <tr>
            <th><a asp-controller="Account" asp-action="AdminControl" asp-route-sortOrder="@ViewBag.NameSort">@Localizer["Name"]</a></th>
            <th>@Localizer["Roles"]</th>
            <th><a asp-controller="Admin" asp-action="Index" asp-route-sortOrder="@ViewBag.PermissionSort">@Localizer["Status"]</a></th>
            <th><input type="checkbox" name="cb_all"></th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td><a asp-controller="Account" asp-action="Profile" asp-route-name="@user.UserName">@user.UserName</a></td>
                <td><a class="btn btn-sm btn-primary text-center" asp-controller="Roles" asp-action="Edit" asp-route-userid="@user.Id">@Localizer["Roles"]</a></td>
                <td>@if (user.Permit)
                { 
                    <div id="square" style="background:green;">Permit</div>
                }
                else 
                {
                <div id="square" style="background:red;">Blocked</div>
                }
                </td>
                <td><input type="checkbox" class="user" name="selectedUsers" value="@user.UserName" /></td>
            </tr>
        }
    </table>
</form>
<a class="btn btn-sm btn-primary" asp-controller="Roles" asp-action="Create">@Localizer["BtnAddRole"]</a>
<a class="btn btn-sm btn-primary" asp-controller="Roles" asp-action="Index">@Localizer["BtnRolesList"]</a>

<script>
    var f = document.getElementById('users');
    f.cb_all.onchange = function (e) {
        var el = e.target || e.srcElement;
        var qwe = el.form.getElementsByClassName('user');
        for (var i = 0; i < qwe.length; i++) {
            if (el.checked) {
                qwe[i].checked = true;
            } else {
                qwe[i].checked = false;
            }
        }
    }
</script>
