@model Mixed.Models.User
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">@Localizer["Profile"]</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">@Localizer["Info"]</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">@Localizer["UserProfile"]</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>@Localizer["About"]</h6>
                            <p>
                                @if (ViewBag.User.About != null)
                    @ViewBag.User.About
                            </p>
                            <a asp-controller="Collections" asp-action="ShowUserCollections" asp-route-sortOrder="@ViewBag.ThemeSort" asp-route-name="@ViewBag.User.UserName">@Localizer["Collections"]</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="edit">
                    <form method="post" asp-controller="Account" asp-action="Edit" asp-route-userId="@ViewBag.User.Id">
                        <div class="form-group row">
                            <label asp-for="UserName" class="col-lg-3 col-form-label form-control-label">@Localizer["FirstName"]</label>
                            <div class="col-lg-9">
                                <input asp-for="UserName" class="form-control" type="text" value="@ViewBag.User.UserName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="About" class="col-lg-3 col-form-label form-control-label">@Localizer["About"]</label>
                            <div class="col-lg-9">
                                <input asp-for="About" class="form-control" type="text" value="@ViewBag.User.About">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                @if (User.Identity.Name.Equals(ViewBag.User.UserName))
                                {
                    <button type="submit" class="btn btn-primary">@Localizer["BtnChanges"]</button>}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            @if (@ViewBag.User.Image != null)
            {
<img style='width:80px; height:80px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.User.Image))" />            }
            @if (User.Identity.Name.Equals(ViewBag.User.UserName))
            {
<h6 class="mt-2">@Localizer["UploadPhoto"]</h6>
                <form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="ChangeAvatar" asp-route-userId="@ViewBag.User.Id">
                    <label class="custom-file">
                        <input type="file" asp-for="Image" class="">
                        <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
                    </label>
                </form>
                }
        </div>
    </div>
</div>