@model Mixed.ViewModels.ItemViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["NewItem"]</h2>
<form method="post" asp-controller="Item" asp-action="Create" asp-route-collectionId="@ViewBag.Id" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Name">@Localizer["Name"]</label><br />
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">@Localizer["Description"]</label><br />
            <textarea class="form-control" rows="3" asp-for="Description"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image" class="control-label">@Localizer["Img"]</label>
            <input type="file" asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-body">@Localizer["Create"]</button>
        </div>
    </div>
</form>